<div id="wrapper">
  <input type=text id=message placeholder="Enter Notification Here"></input>
  <input type=button id=send data-role=button value="push"></input>
</div>

<script>
  $("#send").click(function(event) {
    event.preventDefault();

    var text = $("#message").val();
    var args = text.split(" ");
    var id = args[0];
    var value = args[1];
    var packet_loss = args[2];
    var lon = args[3];
    var lat = args[4];
    var notification = { id: id, ping_rating: value, packet_loss_rating: packet_loss };
    if (lon && lat) {
      notification.lon = lon;
      notification.lat = lat;
    }

    $.post("/push", notification, "json");
  });
</script>
