<div id="wrapper">
  <input type=text id=message placeholder="Enter Notification Here"></input>
  <input type=button id=send data-role=button value="push"></input>
</div>

<script>
  $("#send").click(function(event) {
    event.preventDefault();

    var text = $("#message").val();
    var args = text.split(" ");
    var id = args[0];
    var value = args[1];
    var lon = args[2];
    var lat = args[3];
    var notification = { id: id, value: value };
    if (lon && lat) {
      notification.lon = lon;
      notification.lat = lon;
    }

    $.post("/push", notification, "json");
  });
</script>
